Repository gardener/landscapercli, pull requests merged in 2021-02, with the labels that each got.

#17 update component-cli to v0.8.0
  docs/reference/landscaper-cli_components-cli_component-archive_remote_get.md
  go.mod
  go.sum
  vendor/github.com/gardener/component-cli/ociclient/credentials/builder.go
  vendor/github.com/gardener/component-cli/ociclient/credentials/keyring.go
  vendor/github.com/gardener/component-cli/pkg/commands/componentarchive/remote/get.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs

#20 Integration test
  Makefile
  cmd/quickstart/install.go
  cmd/quickstart/uninstall.go
  go.mod
  go.sum
  integration-test/config/config.go
  integration-test/main.go
  integration-test/tests/test_quickstart_install.go
  pkg/util/const.go
  pkg/util/util.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#28 Add manifest di
  cmd/components/add_helm_ls_deployitem.go
  cmd/components/add_manifest_deployitem.go
  cmd/components/create.go
  docs/drafts/scenarios/ToDo.md
  docs/reference/landscaper-cli_components_add_helm-ls_deployitem.md
  docs/reference/landscaper-cli_components_add_manifest_deployitem.md
Labels: needs/ok-to-test, needs/review, size/m

#30 doc for create component
  cmd/components/add_helm_ls_deployitem.go
  cmd/components/add_manifest_deployitem.go
  cmd/components/create.go
  docs/commands/create_component/create.md
  docs/commands/create_component/resouces/02-step-add-helm-chart-in-oci/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resouces/02-step-add-helm-chart-in-oci/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resouces/02-step-add-helm-chart-in-oci/demo-component/component-descriptor.yaml
  docs/commands/create_component/resouces/02-step-add-helm-chart-in-oci/demo-component/resources.yaml
  docs/commands/create_component/resouces/03-step-add-local-helm-chart/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resouces/03-step-add-local-helm-chart/demo-component/blueprint/deploy-execution-echo.yaml
  docs/commands/create_component/resouces/03-step-add-local-helm-chart/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resouces/03-step-add-local-helm-chart/demo-component/component-descriptor.yaml
  docs/commands/create_component/resouces/03-step-add-local-helm-chart/demo-component/resources.yaml
  docs/commands/create_component/resouces/04-step-add-secret-manifests/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resouces/04-step-add-secret-manifests/demo-component/blueprint/deploy-execution-echo.yaml
  docs/commands/create_component/resouces/04-step-add-secret-manifests/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resouces/04-step-add-secret-manifests/demo-component/blueprint/deploy-execution-secrets.yaml
  docs/commands/create_component/resouces/04-step-add-secret-manifests/demo-component/component-descriptor.yaml
  docs/commands/create_component/resouces/04-step-add-secret-manifests/demo-component/resources.yaml
  docs/commands/create_component/resouces/charts/echo-server/.helmignore
  docs/commands/create_component/resouces/charts/echo-server/Chart.yaml
  docs/commands/create_component/resouces/charts/echo-server/README.md
  docs/commands/create_component/resouces/charts/echo-server/templates/NOTES.txt
  docs/commands/create_component/resouces/charts/echo-server/templates/_helpers.tpl
  docs/commands/create_component/resouces/charts/echo-server/templates/deployment.yaml
  docs/commands/create_component/resouces/charts/echo-server/templates/service.yaml
  docs/commands/create_component/resouces/charts/echo-server/values.yaml
  docs/commands/create_component/resouces/manifests/set1/demo-secret-1.yaml
  docs/commands/create_component/resouces/manifests/set1/demo-secret-2.yaml
  docs/reference/landscaper-cli_components_add_helm-ls_deployitem.md
  docs/reference/landscaper-cli_components_add_manifest_deployitem.md
  docs/reference/landscaper-cli_components_create.md
Labels: needs/ok-to-test

#32 adds installations create command
  cmd/app.go
  cmd/installations/create.go
  cmd/installations/installations.go
  cmd/quickstart/install.go
  cmd/quickstart/uninstall.go
  go.mod
  go.sum
  integration-test/main.go
  integration-test/tests/test_installation_create.go
  integration-test/tests/test_quickstart_install.go
  integration-test/util/config.go
  integration-test/util/oci.go
  integration-test/util/util.go
  pkg/util/util.go
  pkg/util/util_test.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/gopkg.in/yaml.v3/LICENSE
  vendor/gopkg.in/yaml.v3/NOTICE
  vendor/gopkg.in/yaml.v3/README.md
  vendor/gopkg.in/yaml.v3/apic.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/emitterc.go
  vendor/gopkg.in/yaml.v3/encode.go
  vendor/gopkg.in/yaml.v3/go.mod
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/gopkg.in/yaml.v3/readerc.go
  vendor/gopkg.in/yaml.v3/resolve.go
  vendor/gopkg.in/yaml.v3/scannerc.go
  vendor/gopkg.in/yaml.v3/sorter.go
  vendor/gopkg.in/yaml.v3/writerc.go
  vendor/gopkg.in/yaml.v3/yaml.go
  vendor/gopkg.in/yaml.v3/yamlh.go
  vendor/gopkg.in/yaml.v3/yamlprivateh.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#33 Param names with minus
  cmd/components/add_helm_ls_deployitem.go
  cmd/components/add_manifest_deployitem.go
  cmd/components/add_manifest_deployitem_test.go
  docs/commands/create_component/create.md
  docs/commands/create_component/resources/02-step-add-helm-chart-in-oci/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resources/02-step-add-helm-chart-in-oci/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resources/03-step-add-local-helm-chart/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resources/03-step-add-local-helm-chart/demo-component/blueprint/deploy-execution-echo.yaml
  docs/commands/create_component/resources/03-step-add-local-helm-chart/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resources/03-step-add-local-helm-chart/demo-component/resources.yaml
  docs/commands/create_component/resources/04-step-add-secret-manifests/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resources/04-step-add-secret-manifests/demo-component/blueprint/deploy-execution-echo.yaml
  docs/commands/create_component/resources/04-step-add-secret-manifests/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resources/04-step-add-secret-manifests/demo-component/blueprint/deploy-execution-secrets.yaml
  docs/commands/create_component/resources/04-step-add-secret-manifests/demo-component/resources.yaml
  docs/commands/create_component/resources/05-step-prepare-push/demo-component/blueprint/blueprint.yaml
  docs/commands/create_component/resources/05-step-prepare-push/demo-component/blueprint/deploy-execution-echo.yaml
  docs/commands/create_component/resources/05-step-prepare-push/demo-component/blueprint/deploy-execution-nginx.yaml
  docs/commands/create_component/resources/05-step-prepare-push/demo-component/blueprint/deploy-execution-secrets.yaml
  docs/commands/create_component/resources/05-step-prepare-push/demo-component/component-descriptor.yaml
  docs/commands/create_component/resources/05-step-prepare-push/demo-component/resources.yaml
  docs/commands/create_component/resources/manifests/set1/demo-secret-1.yaml
  docs/commands/create_component/resources/manifests/set1/demo-secret-2.yaml
  docs/reference/landscaper-cli.md
  docs/reference/landscaper-cli_installations.md
  docs/reference/landscaper-cli_installations_create.md
  pkg/blueprints/templates.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#34 targets create
  cmd/app.go
  cmd/targets/create.go
  cmd/targets/targets.go
  cmd/targets/types/kubernetes_cluster.go
  docs/reference/landscaper-cli.md
  docs/reference/landscaper-cli_targets.md
  docs/reference/landscaper-cli_targets_create.md
  docs/reference/landscaper-cli_targets_create_kubernetes-cluster.md
  integration-test/main.go
  pkg/util/util.go
Labels: needs/ok-to-test, needs/review, size/m

#35 Added: installation set-input-parameters
  cmd/installations/installations.go
  cmd/installations/set_input_parameters.go
  cmd/installations/set_input_parameters_test.go
Labels: needs/ok-to-test, needs/review, size/m

#36 Integration test for create component
  integration-test/main.go
  integration-test/tests/test_component_create.go
Labels: needs/ok-to-test

#41 Create OCI endpoint command
  cmd/quickstart/add_oci_endpoint.go
  cmd/quickstart/oci_registry.go
  cmd/quickstart/quickstart.go
  docs/commands/create_component/create.md
  docs/commands/quickstart/install.md
  docs/reference/landscaper-cli_quickstart.md
  docs/reference/landscaper-cli_quickstart_add-oci-endpoint.md
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#42 Added: create installation and set-import parameters file output
  cmd/installations/create.go
  cmd/installations/set_import_parameters.go
  cmd/installations/set_import_parameters_test.go
  docs/reference/landscaper-cli_installations_create.md
  docs/reference/landscaper-cli_installations_set-import-parameters.md
Labels: needs/changes, needs/ok-to-test, needs/review, size/s

#44 Create integration test for installations create, set-import-parameters and targets create
  integration-test/main.go
  integration-test/tests/test_component_create.go
  integration-test/tests/test_installations_create.go
  integration-test/util/oci.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#48 Check endpoint length
  cmd/quickstart/add_oci_endpoint.go
  cmd/quickstart/oci_registry.go
  docs/commands/quickstart/install.md
Labels: needs/ok-to-test, needs/review, size/s
