Repository gardener/landscapercli, pull requests merged in 2021-07, with the labels that each got.

#80 Remove test.txt file
  test.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#79 install golang with specific version for integration test
  .ci/dev_integration_test
  .ci/dev_integration_test.py
  .ci/integration_test.py
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/s

#82 Fix integration test
  integration-test/tests/test_installations_create.go
Labels: needs/ok-to-test, needs/review, size/xs
