Repository gardener/landscapercli, pull requests merged in 2021-11, with the labels that each got.

#96 upgrade to landscaper v0.15.2
  docs/reference/landscaper-cli_component-cli_component-archive_remote_copy.md
  docs/reference/landscaper-cli_quickstart_install.md
  go.mod
  go.sum
  pkg/version/version_info.go
  vendor/github.com/gardener/component-cli/ociclient/client.go
  vendor/github.com/gardener/component-cli/pkg/commands/componentarchive/remote/copy.go
  vendor/github.com/gardener/image-vector/pkg/overwrite.go
  vendor/github.com/gardener/image-vector/pkg/types.go
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/landscaper/test/utils/envtest/state.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs

#99 enable default deployers in quickstart install
  cmd/quickstart/install.go
  docs/reference/landscaper-cli_quickstart.md
  docs/reference/landscaper-cli_quickstart_install.md
Labels: needs/ok-to-test, needs/review, size/xs

#100 refactoring
  cmd/quickstart/install.go
  cmd/quickstart/install_test.go
  cmd/quickstart/oci_registry.go
  cmd/quickstart/uninstall.go
  docs/reference/landscaper-cli_quickstart_uninstall.md
  integration-test/main.go
  pkg/util/util.go
Labels: needs/ok-to-test, needs/review, size/m

#102 always use default deployer configuration
  cmd/quickstart/install.go
Labels: needs/ok-to-test, needs/review, size/s
