Repository gardener/landscapercli, pull requests merged in 2021-12, with the labels that each got.

#105 Set namespace for installations and deployers
  cmd/quickstart/install.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#106 switch to landscaper v0.17.0
  docs/reference/landscaper-cli_quickstart_install.md
  go.mod
  go.sum
  pkg/version/version_info.go
  vendor/github.com/containerd/containerd/images/image.go
  vendor/github.com/containerd/containerd/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/remotes/docker/httpreadseeker.go
  vendor/github.com/containerd/containerd/remotes/docker/schema1/converter.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/controller-utils/LICENSE
  vendor/github.com/gardener/landscaper/controller-utils/pkg/kubernetes/docs.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/kubernetes/kubernetes.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/kubernetes/mock/client_mock.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/dataobjects/target.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/dataobjects/targetlist.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/execution/execution.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/execution/helper.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/execution/reconcile.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/installations/context.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/installations/executions/template/state.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/installations/helper.go
  vendor/github.com/gardener/landscaper/pkg/landscaper/installations/operation.go
  vendor/github.com/gardener/landscaper/pkg/utils/builders.go
  vendor/github.com/gardener/landscaper/pkg/utils/landscaper/blueprint.go
  vendor/github.com/gardener/landscaper/pkg/utils/landscaper/landscaper.go
  vendor/github.com/gardener/landscaper/test/utils/envtest/fake_client.go
  vendor/github.com/gardener/landscaper/test/utils/envtest/state.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#107 Uninstall landscaper correctly
  cmd/quickstart/uninstall.go
  docs/reference/landscaper-cli_quickstart_uninstall.md
Labels: needs/ok-to-test, needs/review, size/s

#109 Remove ns of landscaper installation in integration tests
  integration-test/main.go
Labels: needs/ok-to-test, needs/review, size/xs

#110 Enhance inspect subcommand
  cmd/installations/inspect.go
  cmd/installations/inspect/collector.go
  cmd/installations/inspect/collector_test.go
  cmd/installations/inspect/printer.go
  cmd/installations/inspect/testdata/installation_other_namespace.yaml
  cmd/installations/inspect/transformer.go
  docs/reference/landscaper-cli_installations_inspect.md
  vendor/github.com/gardener/landscaper/apis/deployer/container/constants.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/register.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/types_config.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/register.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/types_config.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/register.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/types_config.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/register.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_config.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/continuousreconcile/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/continuousreconcile/types.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/continuousreconcile/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/readinesschecks/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/readinesschecks/types_healthchecks.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/readinesschecks/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/m

#111 Remove force delete in integration tests
  pkg/util/util.go
Labels: needs/ok-to-test, needs/review, size/s
